*{
    max-width: 900px;
    margin: 5px auto 5px auto;
}

a{
    text-decoration: none;
    color:blue;
}

a:hover{
    color:blueviolet;
}

.remove:hover{
    color:rgba(255, 0, 0, 0.375);
}

.remove{
    color:rgb(255, 0, 0);
}

a:active{
    color:aquamarine;
}

body{
    color: black;
    font: normal 16px Arial, Helvetica, sans-serif;
    background-color: rgb(235, 232, 232);
}

.whitebox{
    background-color: white;
    border-style: groove;
    border-color: lightgrey;
    border-width: 2px;
    border-radius: 5px;
}

fieldset{
    background-color: white;
    border-style: dotted;
}

legend{
    margin: 5px auto 5px 5px;
}

.centered{
    margin: 15px auto 15px auto;
    text-align: center;
}
img.centered{
    border-radius: 50%;
    text-align: center;
    width: 120px;
    height: 120px;
}

form{
    text-align: center;
    color: black;
    font: normal 16px Arial, Helvetica, sans-serif;
}

label{
    display: inline-block;
    text-align: right;
    width: 180px;
}

fieldset.inputs>p{
    padding-bottom: 0px;
}

input{
    width: 180px;
    font: normal 16px Arial, Helvetica, sans-serif;
}

button{
    color: white;
    border: hidden;
    background-color: gray;
    padding: 10px 14px;
    border-radius: 5px;
}

form>button{
    border-radius: 0px;
}

.fullline>input{
    width: 75%;
    padding: 7px 14px;
    float: left;
}
.fullline>button{
    width: 18%;
    float: right;
}

#submit {
    background-color:#1a75ff;
  }

  h1{
    padding-bottom: 15px;
  }

  h3{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  hr{
    border-top: 1px dashed;
  }





