*{
    max-width: 900px;
    margin: 5px auto 5px auto;
}

a:hover{
    color:blueviolet;
}

.remove:hover{
    color:red;
}

a:active{
    color:aquamarine;
}

body{
    color: black;
    font: normal 16px Arial, Helvetica, sans-serif;
}

legend{
    margin: 5px auto 5px 5px;
}



